[Desktop Entry]
Name=Whether
Type=Application
Exec=cosmic-ext-whether
Terminal=false
Categories=Utility;X-Cosmic;
Icon=com.github.nwxnw.cosmic-ext-whether-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
